.sky {
  position: absolute;
  height: 639px;
  width: 900px;
  color: #FFF;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.color {
  width: 20%;
  height: 639px;
  position: relative;
  float: left;
  opacity: 0.5;
}

.color:nth-child(1) {
  /*background-color: #F5624D;*/
  background: linear-gradient( to top right, rgba(255, 87, 34, 1) 0%, rgba(251, 140, 0, 1) 100%);
}

.color:nth-child(2) {
  background: linear-gradient( to top right, rgba(63, 81, 181, 1) 0%, rgba(3, 155, 229, 1) 40%);
  /*background-color: #CC231E;*/
}

.color:nth-child(3) {
  background: linear-gradient( to top right, rgba(156, 204, 101, 1) 0%, rgba(38, 198, 218, 1) 50%);
  /*background-color: #34A65F;*/
}

.color:nth-child(4) {
  background: linear-gradient( to bottom right, rgba(63, 81, 181, 1) 0%, rgba(171, 71, 188, 1) 70%);
 /* background-color: #0F8A5F;*/
}

.color:nth-child(5) {
   background: linear-gradient( to top right, rgba(117, 117, 117, 1) 0%, rgba(33, 33, 33, 1) 90%);
 /* background-color: #235E6F;*/
}

